.form-group {
  display: flex;
  flex-wrap: wrap;
  align-self: flex-end;
  width: 100%;
  margin-left: 4vw;
  margin-bottom: 4vw;
}

button {
  text-align: center;
  margin-right: 2vw;
  width: 13vw;
  font-weight: bolder;
  font-size: medium;
  padding: 1vw;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.2s ease, border-color 0.3s ease;
}

#create-button {
  border: 1px solid black;
  color: black;
  background-color: white;
}

#join-button {
  border: 1px solid white;
  color: white;
  background-color: black;
}

#create-button:hover {
  background-color: rgb(122, 122, 122); /* Slightly darker background on hover */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Add a soft shadow */
}

#create-button:active {
  background-color: #e0e0e0; /* Darker background when pressed */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Reduce shadow size */
  transform: scale(0.98); /* Slightly scale down the button */
}

#join-button:hover {
  background-color: rgb(51, 51, 51); /* Slightly darker background on hover */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Add a soft shadow */
}

#join-button:active {
  background-color: rgb(0, 0, 0); /* Darker background when pressed */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Reduce shadow size */
  transform: scale(0.98); /* Slightly scale down the button */
}

#join-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

input {
  display: block;
  padding: 1.2vw;
  margin-bottom: 2vw;
  width: 50vw;
  max-width: 500px;
  color: white;
  background-color: black;
  border: 1px solid white;
  transition: border-color 0.3s ease;
  font-size: medium;
}

#channel-input:focus {
  border-color: #ff9800; /* Change border color on focus */
}

.card {
  display: flex;
  flex-wrap: wrap;
}