body {
    margin: 0;
    overflow: hidden;
    font-family: 'Roboto';
  }
  #root {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    /* padding: 2rem; */
    text-align: center;
  }
  
  .card {
    padding: 2em;
  }
  
  
  #controlsToolbar {
    bottom: 35px;
    right: 35px;
    position: fixed;
    z-index: 99;
  }
  
  #mediaControls button {
    margin: 0 5px 7.5px;
    padding: 10px;
  }
  

  
  #endConnection {
    border-color: red;
    opacity: 50%;
  }
  
  #endConnection:hover {
    background-color: red;
    border-color: white;
    opacity: 100%;
  }
  
  #localVideo {
    width: 50vw;
    aspect-ratio: 16/9;
    max-width: 480px;
    min-width: 360px;
    position: fixed;
    right: 25px;
    bottom: 25px;
    margin: 0;
  }